-- Foreign Key Constraint Disable's for Table: [Person].[StateProvince]
Print 'Foreign Key Constraint Disable''s for Table: [Person].[StateProvince]'
ALTER TABLE [Person].[StateProvince] NOCHECK CONSTRAINT [FK_StateProvince_CountryRegion_CountryRegionCode]
ALTER TABLE [Person].[StateProvince] NOCHECK CONSTRAINT [FK_StateProvince_SalesTerritory_TerritoryID]


-- Insert scripts for table: StateProvince
PRINT 'Inserting rows into table: StateProvince'
SET IDENTITY_INSERT [Person].[StateProvince] ON

INSERT INTO [Person].[StateProvince] ([StateProvinceID], [StateProvinceCode], [CountryRegionCode], [IsOnlyStateProvinceFlag], [Name], [TerritoryID], [rowguid], [ModifiedDate]) VALUES (1, N'AB ', N'CA', 0, N'Alberta', 6, '298c2880-ab1c-4982-a5ad-a36eb4ba0d34', '20140208 10:17:21.587')
INSERT INTO [Person].[StateProvince] ([StateProvinceID], [StateProvinceCode], [CountryRegionCode], [IsOnlyStateProvinceFlag], [Name], [TerritoryID], [rowguid], [ModifiedDate]) VALUES (2, N'AK ', N'US', 0, N'Alaska', 1, '5b7b8462-a888-4e0b-a3e1-7278f8af107e', '20140208 10:17:21.587')
INSERT INTO [Person].[StateProvince] ([StateProvinceID], [StateProvinceCode], [CountryRegionCode], [IsOnlyStateProvinceFlag], [Name], [TerritoryID], [rowguid], [ModifiedDate]) VALUES (3, N'AL ', N'US', 0, N'Alabama', 5, '41b328be-21ae-45d0-841d-6f8dd71ce626', '20140208 10:17:21.587')
GO

SET IDENTITY_INSERT [Person].[StateProvince] OFF


