-- Check Constraint Disable's for Table: [Production].[ProductInventory]
Print 'Check Constraint Disable''s for Table: [Production].[ProductInventory]'
ALTER TABLE [Production].[ProductInventory] NOCHECK CONSTRAINT [CK_ProductInventory_Bin]
ALTER TABLE [Production].[ProductInventory] NOCHECK CONSTRAINT [CK_ProductInventory_Shelf]

-- Foreign Key Constraint Disable's for Table: [Production].[ProductInventory]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductInventory]'
ALTER TABLE [Production].[ProductInventory] NOCHECK CONSTRAINT [FK_ProductInventory_Location_LocationID]
ALTER TABLE [Production].[ProductInventory] NOCHECK CONSTRAINT [FK_ProductInventory_Product_ProductID]


-- Insert scripts for table: ProductInventory
PRINT 'Inserting rows into table: ProductInventory'
INSERT INTO [Production].[ProductInventory] ([ProductID], [LocationID], [Shelf], [Bin], [Quantity], [rowguid], [ModifiedDate]) VALUES (1, 1, N'A', 1, 408, '47a24246-6c43-48eb-968f-025738a8a410', '20140808 00:00:00.000')
INSERT INTO [Production].[ProductInventory] ([ProductID], [LocationID], [Shelf], [Bin], [Quantity], [rowguid], [ModifiedDate]) VALUES (1, 6, N'B', 5, 324, 'd4544d7d-caf5-46b3-ab22-5718dcc26b5e', '20140808 00:00:00.000')
INSERT INTO [Production].[ProductInventory] ([ProductID], [LocationID], [Shelf], [Bin], [Quantity], [rowguid], [ModifiedDate]) VALUES (1, 50, N'A', 5, 353, 'bff7dc60-96a8-43ca-81a7-d6d2ed3000a8', '20140808 00:00:00.000')
GO


