-- Check Constraint Disable's for Table: [Production].[BillOfMaterials]
Print 'Check Constraint Disable''s for Table: [Production].[BillOfMaterials]'
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [CK_BillOfMaterials_BOMLevel]
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [CK_BillOfMaterials_EndDate]
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [CK_BillOfMaterials_PerAssemblyQty]
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [CK_BillOfMaterials_ProductAssemblyID]

-- Foreign Key Constraint Disable's for Table: [Production].[BillOfMaterials]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[BillOfMaterials]'
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [FK_BillOfMaterials_Product_ComponentID]
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [FK_BillOfMaterials_Product_ProductAssemblyID]
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [FK_BillOfMaterials_UnitMeasure_UnitMeasureCode]


-- Insert scripts for table: BillOfMaterials
PRINT 'Inserting rows into table: BillOfMaterials'
SET IDENTITY_INSERT [Production].[BillOfMaterials] ON

INSERT INTO [Production].[BillOfMaterials] ([BillOfMaterialsID], [ProductAssemblyID], [ComponentID], [StartDate], [EndDate], [UnitMeasureCode], [BOMLevel], [PerAssemblyQty], [ModifiedDate]) VALUES (893, NULL, 749, '20100526 00:00:00.000', NULL, N'EA ', 0, 1.00, '20100512 00:00:00.000')
INSERT INTO [Production].[BillOfMaterials] ([BillOfMaterialsID], [ProductAssemblyID], [ComponentID], [StartDate], [EndDate], [UnitMeasureCode], [BOMLevel], [PerAssemblyQty], [ModifiedDate]) VALUES (271, NULL, 750, '20100304 00:00:00.000', '20100503 00:00:00.000', N'EA ', 0, 1.00, '20100503 00:00:00.000')
INSERT INTO [Production].[BillOfMaterials] ([BillOfMaterialsID], [ProductAssemblyID], [ComponentID], [StartDate], [EndDate], [UnitMeasureCode], [BOMLevel], [PerAssemblyQty], [ModifiedDate]) VALUES (34, NULL, 750, '20100504 00:00:00.000', NULL, N'EA ', 0, 1.00, '20100420 00:00:00.000')
GO

SET IDENTITY_INSERT [Production].[BillOfMaterials] OFF


