-- Foreign Key Constraint Disable's for Table: [Production].[ProductDocument]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductDocument]'
ALTER TABLE [Production].[ProductDocument] NOCHECK CONSTRAINT [FK_ProductDocument_Document_DocumentNode]
ALTER TABLE [Production].[ProductDocument] NOCHECK CONSTRAINT [FK_ProductDocument_Product_ProductID]


-- Insert scripts for table: ProductDocument
PRINT 'Inserting rows into table: ProductDocument'
INSERT INTO [Production].[ProductDocument] ([ProductID], [DocumentNode], [ModifiedDate]) VALUES (317, '/2/1/', '20131229 13:51:58.103')
INSERT INTO [Production].[ProductDocument] ([ProductID], [DocumentNode], [ModifiedDate]) VALUES (318, '/2/1/', '20131229 13:51:58.103')
INSERT INTO [Production].[ProductDocument] ([ProductID], [DocumentNode], [ModifiedDate]) VALUES (319, '/2/1/', '20131229 13:51:58.103')
GO


