-- Foreign Key Constraint Disable's for Table: [Production].[ProductModelProductDescriptionCulture]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductModelProductDescriptionCulture]'
ALTER TABLE [Production].[ProductModelProductDescriptionCulture] NOCHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_Culture_CultureID]
ALTER TABLE [Production].[ProductModelProductDescriptionCulture] NOCHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductDescription_ProductDescriptionID]
ALTER TABLE [Production].[ProductModelProductDescriptionCulture] NOCHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductModel_ProductModelID]


-- Insert scripts for table: ProductModelProductDescriptionCulture
PRINT 'Inserting rows into table: ProductModelProductDescriptionCulture'
INSERT INTO [Production].[ProductModelProductDescriptionCulture] ([ProductModelID], [ProductDescriptionID], [CultureID], [ModifiedDate]) VALUES (1, 1199, N'en    ', '20130430 00:00:00.000')
INSERT INTO [Production].[ProductModelProductDescriptionCulture] ([ProductModelID], [ProductDescriptionID], [CultureID], [ModifiedDate]) VALUES (1, 1467, N'ar    ', '20130430 00:00:00.000')
INSERT INTO [Production].[ProductModelProductDescriptionCulture] ([ProductModelID], [ProductDescriptionID], [CultureID], [ModifiedDate]) VALUES (1, 1589, N'fr    ', '20130430 00:00:00.000')
GO


