-- Check Constraint Disable's for Table: [Production].[ProductReview]
Print 'Check Constraint Disable''s for Table: [Production].[ProductReview]'
ALTER TABLE [Production].[ProductReview] NOCHECK CONSTRAINT [CK_ProductReview_Rating]

-- Foreign Key Constraint Disable's for Table: [Production].[ProductReview]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductReview]'
ALTER TABLE [Production].[ProductReview] NOCHECK CONSTRAINT [FK_ProductReview_Product_ProductID]


-- Insert scripts for table: ProductReview
PRINT 'Inserting rows into table: ProductReview'
SET IDENTITY_INSERT [Production].[ProductReview] ON

INSERT INTO [Production].[ProductReview] ([ProductReviewID], [ProductID], [ReviewerName], [ReviewDate], [EmailAddress], [Rating], [Comments], [ModifiedDate]) VALUES (3, 937, N'Jill', '20131115 00:00:00.000', N'jill@margiestravel.com', 2, N'Maybe it''s just because I''m new to mountain biking, but I had a terrible time getting use
to these pedals. In my first outing, I wiped out trying to release my foot. Any suggestions on
ways I can adjust the pedals, or is it just a learning curve thing?', '20131115 00:00:00.000')
GO

SET IDENTITY_INSERT [Production].[ProductReview] OFF


