-- Check Constraint Disable's for Table: [Production].[ProductCostHistory]
Print 'Check Constraint Disable''s for Table: [Production].[ProductCostHistory]'
ALTER TABLE [Production].[ProductCostHistory] NOCHECK CONSTRAINT [CK_ProductCostHistory_EndDate]
ALTER TABLE [Production].[ProductCostHistory] NOCHECK CONSTRAINT [CK_ProductCostHistory_StandardCost]

-- Foreign Key Constraint Disable's for Table: [Production].[ProductCostHistory]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductCostHistory]'
ALTER TABLE [Production].[ProductCostHistory] NOCHECK CONSTRAINT [FK_ProductCostHistory_Product_ProductID]


-- Insert scripts for table: ProductCostHistory
PRINT 'Inserting rows into table: ProductCostHistory'
INSERT INTO [Production].[ProductCostHistory] ([ProductID], [StartDate], [EndDate], [StandardCost], [ModifiedDate]) VALUES (707, '20110531 00:00:00.000', '20120529 00:00:00.000', 12.0278, '20120529 00:00:00.000')
INSERT INTO [Production].[ProductCostHistory] ([ProductID], [StartDate], [EndDate], [StandardCost], [ModifiedDate]) VALUES (707, '20120530 00:00:00.000', '20130529 00:00:00.000', 13.8782, '20130529 00:00:00.000')
INSERT INTO [Production].[ProductCostHistory] ([ProductID], [StartDate], [EndDate], [StandardCost], [ModifiedDate]) VALUES (707, '20130530 00:00:00.000', NULL, 13.0863, '20130516 00:00:00.000')
GO


