-- Check Constraint Disable's for Table: [Purchasing].[ProductVendor]
Print 'Check Constraint Disable''s for Table: [Purchasing].[ProductVendor]'
ALTER TABLE [Purchasing].[ProductVendor] NOCHECK CONSTRAINT [CK_ProductVendor_AverageLeadTime]
ALTER TABLE [Purchasing].[ProductVendor] NOCHECK CONSTRAINT [CK_ProductVendor_LastReceiptCost]
ALTER TABLE [Purchasing].[ProductVendor] NOCHECK CONSTRAINT [CK_ProductVendor_MaxOrderQty]
ALTER TABLE [Purchasing].[ProductVendor] NOCHECK CONSTRAINT [CK_ProductVendor_MinOrderQty]
ALTER TABLE [Purchasing].[ProductVendor] NOCHECK CONSTRAINT [CK_ProductVendor_OnOrderQty]
ALTER TABLE [Purchasing].[ProductVendor] NOCHECK CONSTRAINT [CK_ProductVendor_StandardPrice]

-- Foreign Key Constraint Disable's for Table: [Purchasing].[ProductVendor]
Print 'Foreign Key Constraint Disable''s for Table: [Purchasing].[ProductVendor]'
ALTER TABLE [Purchasing].[ProductVendor] NOCHECK CONSTRAINT [FK_ProductVendor_Product_ProductID]
ALTER TABLE [Purchasing].[ProductVendor] NOCHECK CONSTRAINT [FK_ProductVendor_UnitMeasure_UnitMeasureCode]
ALTER TABLE [Purchasing].[ProductVendor] NOCHECK CONSTRAINT [FK_ProductVendor_Vendor_BusinessEntityID]


-- Insert scripts for table: ProductVendor
PRINT 'Inserting rows into table: ProductVendor'
INSERT INTO [Purchasing].[ProductVendor] ([ProductID], [BusinessEntityID], [AverageLeadTime], [StandardPrice], [LastReceiptCost], [LastReceiptDate], [MinOrderQty], [MaxOrderQty], [OnOrderQty], [UnitMeasureCode], [ModifiedDate]) VALUES (1, 1580, 17, 47.8700, 50.2635, '20110829 00:00:00.000', 1, 5, 3, N'CS ', '20110829 00:00:00.000')
INSERT INTO [Purchasing].[ProductVendor] ([ProductID], [BusinessEntityID], [AverageLeadTime], [StandardPrice], [LastReceiptCost], [LastReceiptDate], [MinOrderQty], [MaxOrderQty], [OnOrderQty], [UnitMeasureCode], [ModifiedDate]) VALUES (2, 1688, 19, 39.9200, 41.9160, '20110829 00:00:00.000', 1, 5, 3, N'CTN', '20110829 00:00:00.000')
INSERT INTO [Purchasing].[ProductVendor] ([ProductID], [BusinessEntityID], [AverageLeadTime], [StandardPrice], [LastReceiptCost], [LastReceiptDate], [MinOrderQty], [MaxOrderQty], [OnOrderQty], [UnitMeasureCode], [ModifiedDate]) VALUES (4, 1650, 17, 54.3100, 57.0255, '20110829 00:00:00.000', 1, 5, NULL, N'CTN', '20110829 00:00:00.000')
GO


