-- Check Constraint Disable's for Table: [Purchasing].[Vendor]
Print 'Check Constraint Disable''s for Table: [Purchasing].[Vendor]'
ALTER TABLE [Purchasing].[Vendor] NOCHECK CONSTRAINT [CK_Vendor_CreditRating]

-- Foreign Key Constraint Disable's for Table: [Purchasing].[Vendor]
Print 'Foreign Key Constraint Disable''s for Table: [Purchasing].[Vendor]'
ALTER TABLE [Purchasing].[Vendor] NOCHECK CONSTRAINT [FK_Vendor_BusinessEntity_BusinessEntityID]


-- Insert scripts for table: Vendor
PRINT 'Inserting rows into table: Vendor'
INSERT INTO [Purchasing].[Vendor] ([BusinessEntityID], [AccountNumber], [Name], [CreditRating], [PreferredVendorStatus], [ActiveFlag], [PurchasingWebServiceURL], [ModifiedDate]) VALUES (1492, N'AUSTRALI0001', N'Australia Bike Retailer', 1, 1, 1, NULL, '20111223 00:00:00.000')
INSERT INTO [Purchasing].[Vendor] ([BusinessEntityID], [AccountNumber], [Name], [CreditRating], [PreferredVendorStatus], [ActiveFlag], [PurchasingWebServiceURL], [ModifiedDate]) VALUES (1494, N'ALLENSON0001', N'Allenson Cycles', 2, 1, 1, NULL, '20110425 00:00:00.000')
INSERT INTO [Purchasing].[Vendor] ([BusinessEntityID], [AccountNumber], [Name], [CreditRating], [PreferredVendorStatus], [ActiveFlag], [PurchasingWebServiceURL], [ModifiedDate]) VALUES (1496, N'ADVANCED0001', N'Advanced Bicycles', 1, 1, 1, NULL, '20110425 00:00:00.000')
GO


