-- Check Constraint Disable's for Table: [Sales].[SalesTerritoryHistory]
Print 'Check Constraint Disable''s for Table: [Sales].[SalesTerritoryHistory]'
ALTER TABLE [Sales].[SalesTerritoryHistory] NOCHECK CONSTRAINT [CK_SalesTerritoryHistory_EndDate]

-- Foreign Key Constraint Disable's for Table: [Sales].[SalesTerritoryHistory]
Print 'Foreign Key Constraint Disable''s for Table: [Sales].[SalesTerritoryHistory]'
ALTER TABLE [Sales].[SalesTerritoryHistory] NOCHECK CONSTRAINT [FK_SalesTerritoryHistory_SalesPerson_BusinessEntityID]
ALTER TABLE [Sales].[SalesTerritoryHistory] NOCHECK CONSTRAINT [FK_SalesTerritoryHistory_SalesTerritory_TerritoryID]


-- Insert scripts for table: SalesTerritoryHistory
PRINT 'Inserting rows into table: SalesTerritoryHistory'
INSERT INTO [Sales].[SalesTerritoryHistory] ([BusinessEntityID], [TerritoryID], [StartDate], [EndDate], [rowguid], [ModifiedDate]) VALUES (275, 2, '20110531 00:00:00.000', '20121129 00:00:00.000', '8563ce6a-00ff-47d7-ba4d-3c3e1cdef531', '20121122 00:00:00.000')
INSERT INTO [Sales].[SalesTerritoryHistory] ([BusinessEntityID], [TerritoryID], [StartDate], [EndDate], [rowguid], [ModifiedDate]) VALUES (275, 3, '20121130 00:00:00.000', NULL, '2f44304c-ee87-4c72-813e-ca75c5f61f4c', '20121123 00:00:00.000')
INSERT INTO [Sales].[SalesTerritoryHistory] ([BusinessEntityID], [TerritoryID], [StartDate], [EndDate], [rowguid], [ModifiedDate]) VALUES (276, 4, '20110531 00:00:00.000', NULL, '64bcb1b3-a793-40ba-9859-d90f78c3f167', '20110524 00:00:00.000')
GO


