-- Check Constraint Disable's for Table: [Sales].[SalesTaxRate]
Print 'Check Constraint Disable''s for Table: [Sales].[SalesTaxRate]'
ALTER TABLE [Sales].[SalesTaxRate] NOCHECK CONSTRAINT [CK_SalesTaxRate_TaxType]

-- Foreign Key Constraint Disable's for Table: [Sales].[SalesTaxRate]
Print 'Foreign Key Constraint Disable''s for Table: [Sales].[SalesTaxRate]'
ALTER TABLE [Sales].[SalesTaxRate] NOCHECK CONSTRAINT [FK_SalesTaxRate_StateProvince_StateProvinceID]


-- Insert scripts for table: SalesTaxRate
PRINT 'Inserting rows into table: SalesTaxRate'
SET IDENTITY_INSERT [Sales].[SalesTaxRate] ON

INSERT INTO [Sales].[SalesTaxRate] ([SalesTaxRateID], [StateProvinceID], [TaxType], [TaxRate], [Name], [rowguid], [ModifiedDate]) VALUES (1, 1, 1, 14.0000, N'Canadian GST + Alberta Provincial Tax', '683de5dd-521a-47d4-a573-06a3cdb1bc5d', '20080430 00:00:00.000')
INSERT INTO [Sales].[SalesTaxRate] ([SalesTaxRateID], [StateProvinceID], [TaxType], [TaxRate], [Name], [rowguid], [ModifiedDate]) VALUES (2, 57, 1, 14.2500, N'Canadian GST + Ontario Provincial Tax', '05c4ffdb-4f84-4cdf-abe5-fdf3216ea74e', '20080430 00:00:00.000')
INSERT INTO [Sales].[SalesTaxRate] ([SalesTaxRateID], [StateProvinceID], [TaxType], [TaxRate], [Name], [rowguid], [ModifiedDate]) VALUES (3, 63, 1, 14.2500, N'Canadian GST + Quebec Provincial Tax', 'd4edb557-56d7-403c-b538-4df5e7302588', '20080430 00:00:00.000')
GO

SET IDENTITY_INSERT [Sales].[SalesTaxRate] OFF


