-- Check Constraint Disable's for Table: [Production].[Location]
Print 'Check Constraint Disable''s for Table: [Production].[Location]'
ALTER TABLE [Production].[Location] NOCHECK CONSTRAINT [CK_Location_Availability]
ALTER TABLE [Production].[Location] NOCHECK CONSTRAINT [CK_Location_CostRate]


-- Insert scripts for table: Location
PRINT 'Inserting rows into table: Location'
SET IDENTITY_INSERT [Production].[Location] ON

INSERT INTO [Production].[Location] ([LocationID], [Name], [CostRate], [Availability], [ModifiedDate]) VALUES (1, N'Tool Crib', 0.0000, 0.00, '20080430 00:00:00.000')
INSERT INTO [Production].[Location] ([LocationID], [Name], [CostRate], [Availability], [ModifiedDate]) VALUES (2, N'Sheet Metal Racks', 0.0000, 0.00, '20080430 00:00:00.000')
INSERT INTO [Production].[Location] ([LocationID], [Name], [CostRate], [Availability], [ModifiedDate]) VALUES (3, N'Paint Shop', 0.0000, 0.00, '20080430 00:00:00.000')
GO

SET IDENTITY_INSERT [Production].[Location] OFF


