-- Foreign Key Constraint Disable's for Table: [Production].[ProductProductPhoto]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductProductPhoto]'
ALTER TABLE [Production].[ProductProductPhoto] NOCHECK CONSTRAINT [FK_ProductProductPhoto_Product_ProductID]
ALTER TABLE [Production].[ProductProductPhoto] NOCHECK CONSTRAINT [FK_ProductProductPhoto_ProductPhoto_ProductPhotoID]


-- Insert scripts for table: ProductProductPhoto
PRINT 'Inserting rows into table: ProductProductPhoto'
INSERT INTO [Production].[ProductProductPhoto] ([ProductID], [ProductPhotoID], [Primary], [ModifiedDate]) VALUES (1, 1, 1, '20080331 00:00:00.000')
INSERT INTO [Production].[ProductProductPhoto] ([ProductID], [ProductPhotoID], [Primary], [ModifiedDate]) VALUES (2, 1, 1, '20080331 00:00:00.000')
INSERT INTO [Production].[ProductProductPhoto] ([ProductID], [ProductPhotoID], [Primary], [ModifiedDate]) VALUES (3, 1, 1, '20080331 00:00:00.000')
GO


