-- Check Constraint Disable's for Table: [Production].[Document]
Print 'Check Constraint Disable''s for Table: [Production].[Document]'
ALTER TABLE [Production].[Document] NOCHECK CONSTRAINT [CK_Document_Status]

-- Foreign Key Constraint Disable's for Table: [Production].[Document]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[Document]'
ALTER TABLE [Production].[Document] NOCHECK CONSTRAINT [FK_Document_Employee_Owner]


-- Insert scripts for table: Document
PRINT 'Inserting rows into table: Document'
-- Warning - Computed columns cannot be listed in INSERT statements
INSERT INTO [Production].[Document] ([DocumentNode], [Title], [Owner], [FolderFlag], [FileName], [FileExtension], [Revision], [ChangeNumber], [Status], [DocumentSummary], [Document], [rowguid], [ModifiedDate]) VALUES ('/', N'Documents', 217, 1, N'Documents', N'', N'0    ', 0, 2, NULL, NULL, '27cf33af-c338-4842-966c-75ca11aaa6a3', '20171213 13:58:03.943')
INSERT INTO [Production].[Document] ([DocumentNode], [Title], [Owner], [FolderFlag], [FileName], [FileExtension], [Revision], [ChangeNumber], [Status], [DocumentSummary], [Document], [rowguid], [ModifiedDate]) VALUES ('/1/', N'Overview', 217, 1, N'Overview', N'', N'0    ', 0, 2, NULL, NULL, '26a266f1-1d23-40e2-af48-6ab8d954fe37', '20171213 13:58:03.977')
GO


