-- Check Constraint Disable's for Table: [Sales].[SpecialOffer]
Print 'Check Constraint Disable''s for Table: [Sales].[SpecialOffer]'
ALTER TABLE [Sales].[SpecialOffer] NOCHECK CONSTRAINT [CK_SpecialOffer_DiscountPct]
ALTER TABLE [Sales].[SpecialOffer] NOCHECK CONSTRAINT [CK_SpecialOffer_EndDate]
ALTER TABLE [Sales].[SpecialOffer] NOCHECK CONSTRAINT [CK_SpecialOffer_MaxQty]
ALTER TABLE [Sales].[SpecialOffer] NOCHECK CONSTRAINT [CK_SpecialOffer_MinQty]


-- Insert scripts for table: SpecialOffer
PRINT 'Inserting rows into table: SpecialOffer'
SET IDENTITY_INSERT [Sales].[SpecialOffer] ON

INSERT INTO [Sales].[SpecialOffer] ([SpecialOfferID], [Description], [DiscountPct], [Type], [Category], [StartDate], [EndDate], [MinQty], [MaxQty], [rowguid], [ModifiedDate]) VALUES (1, N'No Discount', 0.0000, N'No Discount', N'No Discount', '20110501 00:00:00.000', '20141130 00:00:00.000', 0, NULL, '0290c4f5-191f-4337-ab6b-0a2dde03cbf9', '20110401 00:00:00.000')
INSERT INTO [Sales].[SpecialOffer] ([SpecialOfferID], [Description], [DiscountPct], [Type], [Category], [StartDate], [EndDate], [MinQty], [MaxQty], [rowguid], [ModifiedDate]) VALUES (2, N'Volume Discount 11 to 14', 0.0200, N'Volume Discount', N'Reseller', '20110531 00:00:00.000', '20140530 00:00:00.000', 11, 14, 'd7542ee7-15db-4541-985c-5cc27aef26d6', '20110501 00:00:00.000')
INSERT INTO [Sales].[SpecialOffer] ([SpecialOfferID], [Description], [DiscountPct], [Type], [Category], [StartDate], [EndDate], [MinQty], [MaxQty], [rowguid], [ModifiedDate]) VALUES (3, N'Volume Discount 15 to 24', 0.0500, N'Volume Discount', N'Reseller', '20110531 00:00:00.000', '20140530 00:00:00.000', 15, 24, '4bdbcc01-8cf7-40a9-b643-40ec5b717491', '20110501 00:00:00.000')
GO

SET IDENTITY_INSERT [Sales].[SpecialOffer] OFF


