-- Check Constraint Disable's for Table: [Sales].[SalesTerritory]
Print 'Check Constraint Disable''s for Table: [Sales].[SalesTerritory]'
ALTER TABLE [Sales].[SalesTerritory] NOCHECK CONSTRAINT [CK_SalesTerritory_CostLastYear]
ALTER TABLE [Sales].[SalesTerritory] NOCHECK CONSTRAINT [CK_SalesTerritory_CostYTD]
ALTER TABLE [Sales].[SalesTerritory] NOCHECK CONSTRAINT [CK_SalesTerritory_SalesLastYear]
ALTER TABLE [Sales].[SalesTerritory] NOCHECK CONSTRAINT [CK_SalesTerritory_SalesYTD]

-- Foreign Key Constraint Disable's for Table: [Sales].[SalesTerritory]
Print 'Foreign Key Constraint Disable''s for Table: [Sales].[SalesTerritory]'
ALTER TABLE [Sales].[SalesTerritory] NOCHECK CONSTRAINT [FK_SalesTerritory_CountryRegion_CountryRegionCode]


-- Insert scripts for table: SalesTerritory
PRINT 'Inserting rows into table: SalesTerritory'
SET IDENTITY_INSERT [Sales].[SalesTerritory] ON

INSERT INTO [Sales].[SalesTerritory] ([TerritoryID], [Name], [CountryRegionCode], [Group], [SalesYTD], [SalesLastYear], [CostYTD], [CostLastYear], [rowguid], [ModifiedDate]) VALUES (1, N'Northwest', N'US', N'North America', 7887186.7882, 3298694.4938, 0.0000, 0.0000, '43689a10-e30b-497f-b0de-11de20267ff7', '20080430 00:00:00.000')
INSERT INTO [Sales].[SalesTerritory] ([TerritoryID], [Name], [CountryRegionCode], [Group], [SalesYTD], [SalesLastYear], [CostYTD], [CostLastYear], [rowguid], [ModifiedDate]) VALUES (2, N'Northeast', N'US', N'North America', 2402176.8476, 3607148.9371, 0.0000, 0.0000, '00fb7309-96cc-49e2-8363-0a1ba72486f2', '20080430 00:00:00.000')
INSERT INTO [Sales].[SalesTerritory] ([TerritoryID], [Name], [CountryRegionCode], [Group], [SalesYTD], [SalesLastYear], [CostYTD], [CostLastYear], [rowguid], [ModifiedDate]) VALUES (3, N'Central', N'US', N'North America', 3072175.1180, 3205014.0767, 0.0000, 0.0000, 'df6e7fd8-1a8d-468c-b103-ed8addb452c1', '20080430 00:00:00.000')
GO

SET IDENTITY_INSERT [Sales].[SalesTerritory] OFF


